@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  display: grid | inline-grid;

}

.row {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* Optional: spacing between items */
}

.row > * {
  flex: 0 0 calc(50% - 6px); /* Two per row with some spacing */
  box-sizing: border-box;
}



/** NAVIGATION **/

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;

}

.nav__link--list {
  display: flex;

}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

h1 {
  margin: 5px 0;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #f7efef;
}
.link__hover-effect--black:after {
  background-color: black;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.name {
  font-size: 24px;
  color: #091975;
  margin: 0 12px;
  font-weight: bold;
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/**ABOUT**/

.container {
  padding: 4px 0;
}

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__info--title {
  margin-bottom: 10px;
  animation: fade-up 650ms 400ms backwards;
}

.title {
  font-family: 'Rock Salt';
  font-size: 26px;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 20px;
  animation: fade-up 650ms 600ms backwards;

}

.about-me_link {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 0 16px;
 
}

.about-me_links {
animation: fade-up 650ms 800ms backwards;
}


.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}
.about-me__img {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/** SECTIONS **/

section {
    padding: 20px;
}

#about, #experience, #education {
    background-color: #f4f4f4;
}

.project {
   
    margin-bottom: 5%;
  }

  .project__img {
    width: 100%;
    transition: all 500ms ease;
  }

  .project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  .project__wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
  }

  .project:hover .project__wrapper:before{
    opacity: 0.7;
  }

  .project:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
  }

  .project:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);

  }

  .project__list {
    padding-top: 40px;
  }

  .project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;

}
  .project__description--title {
    font-size: 40px;
  }

  .project__description--para {
    margin:  16px 0;
  }

  .project__description--link{
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
  }

  .project__description--title,
  .project__description--sub-title,
  .project__description--para,
  .project__description--link {
    text-align: center;
    color: #fff;

  }

 li, ul {
    list-style-type: none;
  }

/** FOOTER **/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}
    
    @media only screen and (max-width:700px) {
      /* mobile/smaller window view: */
      .row {
          flex-direction: column;
          left: 0;
          right: 0;
      }

      .project__description--sub-title, 
      .project__description--para, 
      .project__description--links {
        font-size: clamp(1rem, 3vw, 1.5rem);
        margin: 0.5px;;
      }

        /*todo: fix minor aesthetics later*/
    }