@import url('https://fonts.googleapis.com/css?family=Asap&display=swap'); /*-header font-*/

body {
    background-color: #fcf6eb;
}

* {
    box-sizing: border-box;
}

menu {
    display: block;
    float: left;
    width: 20%;
    text-align: left;
    padding: 10px;
}

.bio { /*aka menu, @shionnae on twitter*/
    position: relative;
    display: block;
    width: 20%;
}

.bio a {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    text-align: center;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.main {
    position: relative;
    float:right;
    width:60%;
    padding: 10px;
}

.button {
    text-decoration: none;
    text-align: left;
    font-family: 'Asap', sans-serif;
    font-size: 16;
    padding: 15px 40px;
    border-radius: 4px;
    color: rgb(182, 98, 98)77);
}

.glow-button:hover {
    color: rgb(12, 0, 0);
    box-shadow: 0 5px 15px rgba(170, 100, 100, 0.4);
   }

h2, h3 {
    font-family: 'Asap', sans-serif;
    display: block;
    margin: 0;
    color: #917a2f;
}

p, li {
    font-family: 'Asap', sans-serif;
    display: block;
}

h4 {
    display: block;
    margin: 0;
    white-space: nowrap;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .bio, .main{
      width:100%;
    }
}